@tailwind base;
@tailwind components;
@tailwind utilities;

*{ 
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0;
    font-family: 'Fjord One', serif;
}

next-route-announcer {display: none;}